/* ========================== responsive for stick nav and tool bar start============================ */
@media only screen and (max-width: 1050px){
	
	.contact {
		padding-left: 60px;
	}
	.tool-container .info {
		padding-right: 10px;
		
	}
	.tool-container .info .fa-bars{
		display: none;
	}
	.tool-container .info .fa-xmark{
		display: none;
	}
	.tool-container{
		padding:6px;
	}
	.nav-container ul a{
		padding: 5px;
		font-size: 15px;
		font-weight: 550;
	}
	.nav-container ul li{
		padding-right: 15px;
	}
	
	.nav-container{
		height: 80px;
	}
	.nav-container .menu-logo img{
		
		height: 35%;
		width: 35%;
	}
	.nav-container .button{
		padding: 10px;
	}
	.nav-container .button a{
		font-size: 15px;
	}

}
@media only screen and (max-width: 900px){

	
	.tool-container{
		display: none;
	}
	.nav-container ul{
		margin-left: 90px;
	}
	.nav-container ul a{
		color: #fff;
		font-size: 12px;
		font-weight: 550;
	}
	.nav-container ul li{
		padding-right: 10px;
	}
	
	.nav-container{
		height: 80px;
        margin:0px 50px;
	}
	.nav-container .menu-logo img
	{
		position: absolute;
		top: 6px;
		left: 10px;
		height: 50px;
		width: auto;
	}
	.nav-container .button{
		padding: 10px 20px;
        margin-left: 15px;
	}
	.nav-container .button a{
        padding: 0px;
		font-size: 10px;
	}
}
@media only screen and (max-width: 600px){

	.fa-bars{
		display: block;
	}
	.fa-xmark{
		display: block;
	}
	.fa-bars{
		cursor: pointer;
		display: flex;
		justify-content: end;
		
	}

	/* .nav-container ul{
		display: none;
	} */
	.nav-container .button{
		display: none;
	}
	.nav-container{
		height: 50px;
		display: flex;
		justify-content: end;
		
	}
	.nav-container .menu-logo img{
		position : absolute;
		top: 0;
		left: 1px;
		
		height: 40px;
		width: auto;
		
	}
	.nav-container .nav-div{
		width: 50%;
	}
	.nav-container .menu-icon{
		width: 50%;
	}
	.nav-container .button{
		padding: 10px;
	}
	.nav-container .button a{
		font-size: 15px;
	}
	.menu-icon{
		justify-content: right;
		align-items: end;
	}
	nav ul{
		background: #d1864f;
		position:fixed;
		top: 0;
		right: -200px;
		width:200px;
		height: 100vh;
		padding-top: 50px;
		display: flex;
		flex-direction: column;
		z-index: 2;
		transition: right 0.5s;
		cursor: pointer;
		/* align-items: center; */
		/* justify-content: center; */
	}
	nav ul li{
		
		padding: 15px 25px 15px 35px;
		/* margin-top: 10px; */
	}
	nav ul .fa-solid{
		position: absolute;
		top: 20px;
		right: 50px;
		cursor: pointer;

	}
	nav ul li a{
		color: #875c2b;
		font-size: 25px;
	}

}
/* ========================== responsive for stick nav and tool bar end============================ */

/* ----------------------------------- Special section ----------------------------------- */

@media only screen and (min-width:300px) and (max-width:600px){
	.special-section .main-div{
		margin: 0px 10px;
		gap: 10px;
		padding: 10px;
	}
	.special-section h3{
		font-size: 8px;
	}
	.special-section p{
		font-size: 6px;
	}
}


/* ----------------------------------- About section ----------------------------------- */
@media only screen and (min-width:300px) and (max-width:600px){
	.about-section{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 30px;
	}
	.about-section .row1{
		padding: 25px;
	}
	.about-section h1{
		font-size: 25px;
		padding-bottom: 0px;
	}
	.about-section .row1 p{
		font-size: 10px;
	}
	.about-section .row1 h3{
		font-size: 12px;
	}
	.about-section .row1 div{
		width:100px;
		height: 100px;
	}
	.about-section .block2{
		display: none;
	}
	.about-section .block4{
		background: #fff;
		padding: 20px 0px;
	}
	.about-section .block4 .heading, .block5 .heading{
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding-top:20px;

	}
	.about-section .block4 h3, .block5 .header h3{
		font-size: 20px;
	} 
	.about-section .block4 .para{
		padding: 20px 40px;
		text-align: center;
	}
	.about-section .block5 .header h3{
		font-size: 20px;
	} 
	.about-section .feutures{
		column-gap: 30px;
		padding: 0px;
		margin-left: 0px;
	}
	.about-section .block5 .feutures .element {
		font-size: 10px;
		align-items: center;
		margin-bottom: 5px;
		width: auto;
	}
	.about-section .block5 .feutures img{
		width: 25px;
		height: 22.5px;
		margin: 0px;
	}
	.about-section .block4 .button a{
		font-size: 12px;
		font-weight: 600;
		padding: 10px 25px;
		
	}
	.about-section .block5 button a{
		font-size: 12px;
		font-weight: 600;
		padding: 10px 25px;

	}
}

/* ----------------------------------- amenities ----------------------------------- */
@media only screen and (min-width:300px) and (max-width:600px){
	.amenities{
		padding: 20px;
	}
	.amenities main{
		position: relative;
		height: 120px;
	}
	.amenities .para{
		font-size: 10px;
		text-align: centers;
	}
	.amenities .images img{
		width: 25px;
		height: 25px;
		padding: 3px;
	}
	.amenities span{
		font-size: 8px;
		width: 40px;
		height: 20px;
		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;
	}
	.amenities nav strong label{
		padding: 5px 2px;
		border: solid 1px #d1864f;
	}
	.amenities .images{
		padding: 5px;
		gap: 20px;
	}
	.amenities main div{
		padding: 0px;
	}
	.amenities main p{
		font-size: 8px;
		line-height: 15px;
	}
	.amenities main legend{
		font-size: 15px;
	}
	.amenities fieldset{
		padding: 10px;
		margin: 0px;
	}
	.amenities figure img{
		width: 25vw;
		height: 20vh;
	}
}
/* ----------------------------------- project amenities ----------------------------------- */
@media only screen and (min-width:300px) and (max-width:600px){
	.project-amenities{
		margin-top: 100px;
		padding: 20px;
	}
	.project-amenities h1{
		margin-bottom: 0px;
	}
	.project-amenities .sub-div{
		padding:8px;
		text-align: center;
	}
	.project-amenities .sub-div img{
		width: 25px;
		height: 25px;
	}
	.project-amenities .img-div{
		width: 30px;
		height: 30px;
	}
	.project-amenities .sub-div h5{
		font-size: 10px;
		font-weight: 500;
		padding: 0px 10px;
	}
}

/* ----------------------------------- specifications  ----------------------------------- */
@media only screen and (min-width:300px) and (max-width:600px){
	.specifications, .specifications-div{
		display: none;
	}
}

/* ----------------------------------- why-signifa ----------------------------------- */

@media only screen and (min-width:600px) and (max-width:900px){
    .why-signifa .card-content li{
	    font-size: 10px;
    }
    .why-signifa .card-content h3{
	    font-size: 15px;
    }
    .why-signifa .card{
        width: 250px;
    }
    .why-signifa .card-content{
        margin-left: 0px;
    }
    .why-signifa .cards{
        row-gap: 20px;
        column-gap: 20px;
    }
}
@media only screen and (min-width:300px) and (max-width:600px){
	.why-signifa{
		padding: 0px;
		padding-top: 20px;
	}
	.why-signifa h3{
		font-size: 15px;
	}
	.why-signifa .para{
		padding: 20px;
		text-align: center;
		width: auto;
		font-size: 12px;
	}
	.why-signifa .cards{
		padding: 20px 75px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		row-gap: 20px;
		column-gap: 0px;
		align-items: start;
		/* background: gray; */
	}
	.why-signifa li{
		list-style: none;
		font-size: 12px;
	}
	.why-signifa .card{
		width: auto;
	}
	.why-signifa .icon img{
		padding: 5px;
		margin: 0px;
	}
	.why-signifa .card-content .list{
		margin: 0px;
	}
}
/* ----------------------------------- contact form ----------------------------------- */
/*now, make it reponsive*/
@media (max-width:1200px){
    .container{
        width: 90%;
        min-width: auto;
        /* margin: 20px;
        box-shadow: 0 20px 50px rgba(0,0,0,.2); */
    }
   .container .contactInfo{
        top: 0;
        height: 550px;
        position: relative;
        box-shadow: none;
    }
    .container .contactForm{
        position: relative;
        width: calc(100% - 350px);
        padding-left: 0;
        margin-left: 0;
        padding: 40px;
        height: 550px;
        box-shadow: none;
    } 
}
@media (max-width:991px){
    .contactform{
        background: #fff38e;
    }
    .contactform::before{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
    }
    .container .contactForm{
        width: 100%;
        height: auto;
    }
    .container .contactInfo{
        width: 100%;
        height: auto;
        flex-direction: row;
    }
    .container .contactInfo ul.sci{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:600px){
	.contact-form{
		display: none;
	}
    .container .contactForm{
        padding: 25px;
    }
    .container .contactInfo{
        padding: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .container.contactInfo ul.sci{
        margin-top: 40px;
    }
}

/* ----------------------------------- footer ----------------------------------- */

@media (max-width:700px){
    footer{
        bottom:unset;
		border-top-left-radius: 80px;
    }
    footer .col{
        flex-basis: 100%;
        
    }
    footer .col:nth-child(2),.col:nth-child(3){
        flex-basis: 100%;
    }
}

/* ----------------------------------- footer ----------------------------------- */

